
.page{
    display:flex;
    justify-content:space-between ;
    padding:10px;
    width:30%;
    margin:1rem auto 0 auto;
  
  }
.pag1{
    display: inline-block;
    width: 10%;
    padding: 20px;
}
