.container4{
    background-color:white;
    display:flex;
    justify-content:space-between ;
    padding:40px;
    width:60%;
    margin:10rem auto 0 auto;

}
.container4 img{
    height: 250px;
}
.container4 h1{
    margin: 0;
    color:skyblue;
}
.container4 p{
    color:skyblue;
    margin-right:15px;
    
}
.container4 Link{
    margin-right: 40px;
}
/* .linkk{
  float:right;
} */

button{
    color:white;
    background-color: darkblue;
    width:30%;
    padding:10%;
}